.staff-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
label{
    font-size: 20px;
    font-weight: 500;
}
.staff-form{
    position: fixed;
    margin:  0 0 0 100px;
}

.staff-list{
    margin-left: 400px;
}
table{
    width: 900px;
}