<header>
    <div class="logo">Master Manager</div>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/duan">Project</a></li>
        <li><a href="" routerLink="/nhanvien">Staff</a></li>
      </ul>
    </nav>
    <div class="user">
      <ul>
        <li><a href="#" routerLink="/login">Login</a></li>
      </ul>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-2 left-aside">
          <ul class="nav-left">
            <li><a href="#" routerLink="/task">Task</a></li>
            <li><a href="#">Lich</a></li>
            <li><a href="#">Cai dat</a></li>
          </ul>
        </div>
        <div class="col-lg-10 main-side">
         <router-outlet></router-outlet>
        </div>
</div>
