@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}                                          
html, body {
    height: 100%;
    margin: 0;
}                                               
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #0b2b3e;
    font-weight: 500;
    width: 100%; /* Make sure the header spans the full width */
    position: fixed; /* Fix the header to the top of the page */
    top: 0; /* Position it at the top */
    left: 0; /* Align it to the left edge */
    z-index: 1000; /* Ensure it stays above other content */
}

.logo{
    color: #fefefe;
}
nav ul{
    display: flex;
    gap: 20px;
}

nav ul li a{
    color: #fefefe;
}
.user ul li a{
    color: #fefefe;
}
.nav-left{
    background-color: #0b193e;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    position: fixed;

 
}
.nav-left li{
    padding: 15px;
    transition: background-color 0.3s;
    margin: 50px 0 0 0;
}
.nav-left li a{
    color: #fefefe;
    padding: 10px 20px;
}
.nav-left li:hover a{
    text-decoration: none;
    background-color: #167186;
    border-bottom: 1px solid #eee6e6;
}