<header>
    <div class="logo">Master Manager</div>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/duan">Project</a></li>
        <li><a href="" routerLink="/nhanvien">Staff</a></li>
      </ul>
    </nav>
    <div class="user">
      <ul>
        <li><a href="#" routerLink="/login">Login</a></li>
      </ul>
      <ul><li><a href="#" routerLink="/signup">Register</a></li></ul>
      <div style="color:white" class="d-flex" *ngIf="user!==null">
        {{"Xin chào, "+user.username}} <button (click)="logOut()">Đăng Xuất</button>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-2 left-aside">
          <ul class="nav-left">
            <li><a href="#" routerLink="/task">Task</a></li>
            <li><a href="#">Lich</a></li>
            <li><a href="#">Cai dat</a></li>
            <li *ngIf="user && user.role === 'admin'">
              <a (click)="toggleAdminMenu()">Admin Dashboard</a>
              <ul *ngIf="showAdminMenu">
                <li><a routerLink="/admin/users">Manage Users</a></li>
                <li><a routerLink="/admin/settings">Admin Settings</a></li>
                <li><a routerLink="/admin/reports">Reports</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-10 main-side">
         <router-outlet></router-outlet>
        </div>
</div>
