<div class="staff-section">
  <div class="option">
    <div class="add-container">
      <button routerLink="/nhanvien/add-nhanvien">
        Thêm nhân viên mới
      </button>
    </div>
    <div class="search-container">
      <input type="text" id="search-input" placeholder="Tìm kiếm dự án..." [(ngModel)]="listFilter">
    </div>
  </div>
    <div class="staff-container">
      <div class="staff-card"  *ngFor="let nv of list_nhanvien">
        <img src="{{nv.hinh_anh}}" alt="Staff Image" class="staff-image">
        <div class="staff-details">
            <h2 class="staff-name"> {{ nv.ten_nv }}</h2>
            <p>Giới tính: {{nv.gioi_tinh}}</p>
            <p class="staff-location">Khu vực: <span>{{ nv.khu_vuc }}</span></p>
        </div>
    </div>
    </div>
    <ng-template #noData>
      <p>No data available</p>
    </ng-template>
</div>