<div class="detail-container">
    <div class="project-details-container" >
        <div class="project-card ">
            <img src="https://cdn.pixabay.com/photo/2024/02/04/10/47/arabiccontest-8551910_640.jpg" alt="Project Image" class="project-image">
        <div class="project-details">
            <h2 class="project-name">{{duan?.ten}}</h2>
            <p class="project-status">Trạng Thái: <span>{{duan?.trang_thai}}</span></p>
            <p class="project-start-date">Ngày bắt đầu: <span>{{ duan?.ngay_bat_dau}}</span></p>
            <p class="project-leader">Nhóm Trưởng: <span>{{duan?.nhom_truong}}</span></p>
            <p class="project-members">Thành viên: <span>{{duan?.thanh_vien}}</span></p>
        </div>
        </div>
    </div>
    <!-- <div class="task-container">
        <div class="task-line"*ngFor="let task of list_task">
            <div class="task-details">
            <h2 class="task-name"> {{ task.ten_task }}</h2>
            <p class="task-status">Trạng Thái: <span>{{ task.trang_thai }}</span></p>
            <a href="" class="arrow-icon"><i class=" arrow fa-solid fa-arrow-right"></i></a>
        </div>
    </div> -->
</div>